@use '../helpers/_mixin' as *
@use '../layout/_grid' as *
@use '../helpers/_variables' as *

.banner
  .mySwiper
    height: 100%
    width: 100%
    position: relative !important

    .item
      height: 70vh
      width: 100%
      @include bgImage()
      @include flex($justify: center)
      position: relative

      &::after
        content: ''
        @include dark($opacity: .5)
        z-index: 1

      .content
        position: relative
        z-index: 2
        font-weight: 700
        font-size: 90px
        line-height: 107px
        letter-spacing: 2px
        color: $light
        text-shadow: 0px 8px 18px rgba(0, 0, 0, 0.25)
