@use '../helpers/_mixin' as *
@use '../layout/_grid' as *
@use '../helpers/_variables' as *

.preview-card
  .image-box
    overflow: hidden
    border-radius: 10px
    height: 190px
    margin-bottom: 8px

  .item-image
    height: 100%
    width: 100%
    @include image()
    @include fastTrans()
    transform: scale(1.3)

    &:hover
      transform: scale(1)

  .name
    text-align: center
    font-size: 18px
    font-weight: 500

.big-card
  .image-sec
    position: relative
    height: 120px
    border-radius: 10px 10px 0 0
    overflow: hidden

    .item-image
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      @include image()
      z-index: 1

    .heart
      position: absolute
      right: 10px
      top: 10px
      z-index: 2
      @include flex($justify: center)

  .content-area
    position: relative
    padding: 10px
    background-color: #F7F7F7
    border-radius: 0 0 10px 10px

    .name
      font-size: 14px
      font-weight: 600
      max-width: 180px
      letter-spacing: 2px

    .user
      position: absolute
      right: 10px
      top: 0%
      transform: translateY(-50%)
      height: 22px
      width: 22px
      border-radius: 50%
      @include flex($justify: center)
      background-color: #eee
      z-index: 2

    .rating
      margin: .4rem 0 1rem
      @include flex($justify: flex-start)
      font-size: 12px
      gap: 5px

      .icon-star
        @include flex($justify: center)

    .item-footer
      @include flex($justify: space-between)
      padding: 1rem 0 .5rem
      border-top: 1px solid rgba($dark, .4)

      .price
        font-size: 10px

      .days
        font-size: 10px

.testimonials-card
  @include grid($columns: 300px 1fr)
  padding: 1rem
  background-color: #F7F7F7
  border-radius: 10px

  picture
    border-radius: 10px
    height: 100%
    width: 300px
    overflow: hidden

    img
      @include image()

  article
    .content
      .name
        font-size: 22px
        font-weight: 600

      .desc
        font-size: 16px
        line-height: 1.8rem
        text-align: justify
        margin: .3rem 0 1rem

    .user-details
      @include flex($justify: flex-start)
      gap: 10px

      .user-image
        height: 30px
        width: 30px
        border-radius: 50%
        overflow: hidden

        img
          @include image()

      .user-name
        font-size: 16px
        font-weight: 600
        color: $pri
