@use '../helpers/_variables' as *
@use '../layout/_grid' as *
@use '../helpers/_mixin' as *

footer
  @include bgImage()
  padding: 60px 0 0
  background: linear-gradient(0deg, $sec, $pri)

  .wrapper
    .footer-content
      @include grid($columns: 1.2fr 1fr .5fr 1fr)

      .logo-footer
        height: 100px
        width: 100px
        @include flex($justify: flex-start)

        img
          @include image()
          mix-blend-mode: color-burn

      .logo
        text-transform: uppercase
        font-size: 30px

      .footer-title
        color: $light
        font-size: 18px
        margin-bottom: 1rem

      p
        margin: 1rem 0
        font-size: 14px
        line-height: 1.4rem
        color: $light

      h5
        font-size: 16px
        color: $light
        font-weight: 500

      .social-links
        @include flex($justify: flex-start)
        gap: 10px
        margin-top: .5rem

        button
          height: 35px
          width: 35px
          border-radius: 50%
          background-color: $light
          color: $dark
          font-size: 14px
          @include flex($justify: center)
          text-align: center
          cursor: pointer

      .item
        .logo-image-list
          @include flex($justify: flex-start)
          gap: 10px
          margin: 1rem 0

          img
            width: 50px
            height: 50px
            object-fit: contain
            // mix-blend-mode: color-burn

        ul
          li
            color: $light
            margin-bottom: 15px
            font-size: 14px

            a
              color: rgba($light, .8)

              &:hover
                color: rgba($light, 1)

          &.footer-contact-list li
            @include flex($justify: flex-start)
            align-items: flex-start
            gap: 5px

    .copyright
      font-size: 16px
      text-align: center
      margin-top: 3rem
      padding: 1.5rem 0
      border-top: 1px solid rgba($light, .3)
      color: $light

@media only screen and ( max-width: 800px )
  footer
    .wrapper
      .footer-content
        @include grid($columns: 1.2fr 1fr)

@media only screen and ( max-width: 550px )
  footer
    .wrapper
      .footer-content
        @include grid($columns: 1fr)
